# Dependencias
node_modules/
frontend/node_modules/
backend/vendor/

# Entorno y Secretos
.env
.env.*
!.env.example

# Compilación y temporales
dist/
frontend/dist/
.phpunit.result.cache
storage/*.key

# Archivos de sistema / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Certificados locales
*.pem
